<h3>Login Form</h3>
<form  name="frmLogin" ng-submit="vm.submitLogin()" novalidate>
    <div class="form-group">
        <label ng-messages="frmLogin.email.$error" >
        Email Address<span ng-messages-include="common/templates/common.validationmessages.html"></span>
        </label>
        <input class="form-control" type="email" name="email" ng-model="vm.loginData.email" required placeholder="Enter valid email">
    </div>
    <div class="form-group">
        <label ng-messages="frmLogin.password.$error">
            Password<span ng-messages-include="common/templates/common.validationmessages.html"></span>
        </label>
            <input  class="form-control" type="password" name="password" ng-model="vm.loginData.password" required placeholder="password">
    </div>
    <button class="btn btn-primary btn-block" ng-disabled="!frmLogin.$valid" type="submit">Login</button>
    <hr/>
    <a class="btn btn-default btn-block" ui-sref="public.register" >Register</button>
    <a class="btn btn-default btn-block" ui-sref="public.requestpasswordreset" >Forgot Password?</button>
</form>
