<h3>Reset Password Form</h3>
<form ng-submit="vm.submitResetPassword()">
    <div class="form-group">
        <label>
        Password
        </label>
        <input class="form-control" type="password" ng-model="vm.formdata.password" placeholder="Enter a password">
    </div>
    <div class="form-group">
        <label>
        Confirm Password
        </label>
        <input class="form-control" type="password" ng-model="vm.formdata.confirmpassword" placeholder="Re-Enter a password">
    </div>

    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <hr/>
    <a class="btn btn-default btn-block" ui-sref="public.login" >Login</button>
    <a class="btn btn-default btn-block" ui-sref="public.register" >Register</button>
</form>
