<h3>Reset Password Form</h3>
<form name="ReqPwdReset" ng-submit="vm.submitRequestPasswordReset()" novalidate>
    <div class="form-group">
        <label ng-messages="ReqPwdReset.email.$error" >
            Email Address<span ng-messages-include="common/templates/common.validationmessages.html"></span>
        </label>
        <input class="form-control" name="email" type="email" ng-model="vm.formdata.email" required placeholder="your email address">
    </div>
    <button class="btn btn-primary btn-block" ng-disabled="!ReqPwdReset.$valid" type="submit">Reset Password</button>
    <hr/>
    <a class="btn btn-default btn-block" ui-sref="public.login" >Login</a>
    <a class="btn btn-default btn-block" ui-sref="public.register" >Register</a>
</form>
